My workflow (6).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        80
      ],
      "id": "1d32c4bc-6586-45ef-badd-1b9b44547d50",
      "name": "Gmail Trigger",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "JckgKVcOgKsQaV8D",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40fa1453-4fb3-472b-8845-7cac2d79df73",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "=+++",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "84ac6f99-b1b2-4477-bffe-fb21b6632f3b",
              "leftValue": "={{ $('Gmail Trigger').item.json.from.text }}",
              "rightValue": "<no-reply@classroom.google.com>",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        80
      ],
      "id": "d5bc76b4-6046-4380-9e59-8ed062c4ddd8",
      "name": "If",
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "=@mucom49",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        64
      ],
      "id": "384a0f45-c21e-4338-b1d0-fa4676fabf22",
      "name": "Send a text message",
      "webhookId": "b6a6f2f4-2a69-4083-a6e3-58277b30e723",
      "credentials": {
        "telegramApi": {
          "id": "IV3k6Ebhtvf2VxOi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7be9525d-26fc-4540-8cab-16a4203e5a30",
      "name": "Remove label from message",
      "webhookId": "0f12d144-7b45-4670-8d77-f8733ff015a7",
      "credentials": {
        "gmailOAuth2": {
          "id": "JckgKVcOgKsQaV8D",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=وظيفتك:\nاستقبال ايميلات تحتوي تبليغات وحذف منها الاشياء التي لا تشمل التبليغ الحقيقي\nاحذف تواريخ إضافية، اسم الكلاس، إعدادات البريد، footer، \n الهدف: يبقى فقط نص الإعلان الفعلي، بدون أي تفاصيل غير ضرورية لا علاقة لها بالاعلان ثم ارسالها لي.\nالهدف:ازالة الاشياء التي يستخرجها الgmail trigger والتي لا يريد \nلا تضف اي كلام من عندك نهائيا ولا حرف.\nاذا كانت الرسالة تحتوي على اعلان لمحاضرة(مادة جديدة) او مختبر او اسم محاضرة (lec) فلا ترسل اي شيء سوى +++\n {{ $json.text }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        272
      ],
      "id": "236fc6a5-7289-43e7-aa02-f0ec8b069b42",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "ZmKHJ7SEOgB5vL4T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84ac6f99-b1b2-4477-bffe-fb21b6632f3b",
              "leftValue": "={{ $('Gmail Trigger').item.json.from.text }}",
              "rightValue": "<no-reply@classroom.google.com>",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        272
      ],
      "id": "44f2b671-5797-4a1c-a473-4298cd65b92e",
      "name": "If1",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c9d0f11-fbf2-4e41-8d63-c2c357e8025e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ee67f8f4403c7e8e3e07aee608463dd226a6706dfc1269e23f01bcabdadc56d"
  },
  "id": "9Zj92SiaRUDf2LoE",
  "tags": []
}